html, body{
    height: 100%;
}

/* navigation*/
.navbar-brand {
    justify-content: right;
   
}
.main-nav {
    font-weight: 500;
   margin-left: 692px;
   background-color: white;
  
   border-radius: 5px;
   margin-top: 0px;
}
.main-nav ul{
    text-align: center;
    padding-top: 15px ;
   padding-bottom: 15px;

}
.nav-link {
    color: darkgoldenrod;
}
.main-nav a:hover{
    background-color: gainsboro;
    border-radius: 5px;
    
}
.overlay-trigger {
    position: auto;
    z-index: auto;
    display: block;
    width: 100%;
    min-height: 100%;
    margin: 0;
    object-fit: cover;
    overflow: hidden;
    
}

.card-title  {
    text-align: center;
   padding-top: 150px;
   font-size: 60px;
   font-weight: bold;
}

.content{
position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  top: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */  
}
.card-text {
    text-align: center;
    font-size: larger;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 50px ;
}
.btn1 {
    color: white;
    margin-top: 20%;
    background-color:darkgoldenrod;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;
    border-radius: 7px;
    margin-left: 590px;
}
.section-head {
    text-align: center;
  padding: 40px ;
  font-weight: bold;
  font-size: 50px;
  color: black;
}
.section-head u{
    
color: darkgoldenrod;
padding-top: 2px;
}
.section-text {
    text-align: center;
    color: black;
    margin-left: 160px;
    margin-right: 160px;
    padding-bottom: 50px;
   
}
.row {
    justify-content: center;
    margin-bottom: 60px;
   
}
.row p{
    text-align:justify;
    text-justify: inter-word;
}
.card-image {
    border-radius: 10px;
}
.btn{
    background-color: white;
    color: black;
   outline: black;
}
.card-img-overlay {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    top: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 50px; /* Some padding */  
    text-align:center;
}